@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "defalut", sans-serif;
}
@font-face {
  font-family: "default";
  src: url("../font/Segoe\ UI\ Historic.TTF") format("woff");
  font-weight: bolder;
  font-style: normal;
}
:root {
  --blue: #1877f2;
  --silver: #f0f0f0;
  --lightSilver: #f7f7f7;
  --darkSilver: #999;
}
/* ------------------------- STANDARISASI ----------------------- */
.d-none-toggle {
  display: none !important;
}
.circle-btn {
  text-decoration: none;
  display: inline-block;
  color: #0b0b0b;
  font-size: 25px;
  background-color: var(--silver);
  width: 45px;
  height: 45px;
  border-radius: 100px;
  position: relative;

  /* centering */
  display: flex;
  align-items: center;
  justify-content: center;
}
.small {
  width: 35px !important;
  height: 35px !important;
}
.small i {
  font-size: 19px;
}
.circle-btn:hover {
  background-color: #dadada;
}

nav.navbar {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--silver);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Creates a subtle shadow */
}

nav.navbar > div {
  align-items: center;
}

.logo-search-fb {
  width: 30%;
  display: flex;
  padding-left: 10px;
  gap: 10px;
}
.logo {
  font-size: 40px;
  color: var(--blue);
}
.search {
  position: relative;
}
.search i {
  font-weight: 600;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  color: var(--darkSilver);
}
.navbar .search input {
  padding-left: 40px;
  width: 270px;
  height: 42px;
  border-radius: 30px;
  outline: none;
  border: 0px solid #eaeaea;
  background-color: var(--silver);
  font-weight: 400;
  font-size: 15px;
}
.navbar .search input::placeholder {
  color: var(--darkSilver);
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.menu a {
  font-size: 20px;
  color: var(--blue);
}

.more {
  width: 30%;
  display: flex;
  justify-content: end;
  gap: 8px;
  padding-right: 10px;
}
.more .notification {
  position: absolute;
  top: 2px;
  right: 0;
  display: inline-block;
  font-size: 12px;
  padding: 0 4px;
  height: 15px;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.more img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  object-fit: cover;
}

/* --------------------------- START CONTAINER--------------------- */
/* flex system */
.container {
  display: block;
  width: 100%;
  height: 90vh;
  display: flex;
}
.sidebar {
  padding-left: 15px;
  width: 350px;
  flex-shrink: 0;
  border-right: 1px solid var(--silver);
}
main {
  flex-grow: 1;
}
.info {
  width: 315px;
  flex-shrink: 0;
  border-left: 1px solid var(--silver);
  display: block;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative;
}
/* --------------------------- END CONTAINER--------------------- */

/* ---------------------------START SIDEBAR--------------------- */
.header {
  padding-right: 15px;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.title {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
title h1 {
  font-size: 30px;
  font-weight: 900;
}
.title-more {
  display: flex;
  gap: 15px;
}
.chat-search,
.search {
  width: 100%;
  position: relative;
}
.chat-search {
  margin-bottom: 10px;
}
.chat-search .search input {
  padding-left: 40px;
  width: 295px;
  height: 35px;
  border-radius: 30px;
  outline: none;
  border: 0px solid #eaeaea;
  background-color: var(--silver);
  font-weight: 400;
  font-size: 15px;
}
.messege-type {
  display: flex;
  gap: 10px;
}
.messege-type a {
  text-decoration: none;
  display: inline-block;
  color: #0b0b0b;
  height: 35px;
  padding: 0 10px;
  border-radius: 100px;
  position: relative;
  /* centering */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
a.active-type {
  background-color: rgb(240, 240, 250);
  color: var(--blue);
}

/* chat list */
.chat-list {
  height: 73%;
  width: 100%;
  overflow-y: scroll;
}
.chat {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 97%;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
}
.name-chat h2 {
  font-size: 20px;
  color: black;
}
.miniChat-and-timeChat {
  color: rgb(85, 84, 84);
  font-size: 12px;
  display: flex;
  gap: 0;
}

.pp {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
}
.indikator {
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100px;
  position: absolute;
}

/* --------------------------- END SIDEBAR--------------------- */

/* --------------------------- START MAIN --------------------- */
/* main */
.contact-nav {
  height: 55px;
  border-bottom: 1px solid var(--silver);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Creates a subtle shadow */
}
.contact-nav img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  object-fit: cover;
}
.person {
  display: flex;
  gap: 10px;
}
.person h2 {
  font-size: 20px;
  margin-bottom: -5px;
}
.person span {
  font-size: 12px;
  color: #999;
}
.call {
  display: flex;
  gap: 20px;
}
.call div {
  font-size: 20px;
  cursor: pointer;
  color: var(--blue);
}

/* layouting */
.main-chat {
  height: 80vh;
  width: 100%;
}
.read-and-chat {
  display: flex;
  box-sizing: border-box;
  padding-right: 30px;
}
.read-content {
  height: 70vh;
  width: 8%;
}
.chat-content {
  height: 70vh;
  width: 92%;
}
.chat-input {
  height: 10vh;
  width: 100%;
}
/* ________ */

/* styling */
.read-and-chat {
  overflow-y: scroll;
}
.read-content {
  position: relative;
}
.read-content img {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
}
.messege-list {
  display: block;
  width: 100%;
  margin: 2px 0;
}
.messege-list::after {
  content: "";
  display: block;
  clear: both;
}
.time {
  text-align: center;
  padding: 20px 0px 10px 0px;
  color: rgb(104, 104, 104);
  font-size: 13px;
}
.your-chat,
.my-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  padding: 10px 20px;
}
.your-chat {
  float: left;
  background-color: var(--silver);
  color: black;
}
.my-chat {
  float: right;
  background-color: var(--blue);
  color: white;
}
.your-first-g {
  border-radius: 30px 30px 30px 5px;
}
.your-middle-g {
  border-radius: 5px 30px 30px 5px;
}
.your-last-g {
  border-radius: 5px 30px 30px 30px;
}
.your-default {
  border-radius: 15px;
}
.my-first-g {
  border-radius: 30px 30px 5px 30px;
}
.my-middle-g {
  border-radius: 30px 5px 5px 30px;
}
.my-last-g {
  border-radius: 30px 5px 30px 30px;
}
.my-default {
  border-radius: 15px;
}

.your-img-chat,
.my-img-chat {
  width: 300px;
}
.your-img-chat {
  float: left;
}
.my-img-chat {
  float: right;
}
.your-img-chat img,
.my-img-chat img {
  width: 100%;
  border-radius: 15px;
}
/* ________ */

/* chat input */
.chat-input {
  display: flex;
  align-items: center;
}
.chat-input > div {
  height: 100%;
  display: flex;
  align-items: center;
}
.input-group {
  flex-grow: 1;
}

.plus {
  width: 35px;
  display: flex;
  justify-content: center;
}
.more-input {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 10px;
}
.input-and-emoji {
  position: relative;
  flex-grow: 1;
}
.input-messege {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: var(--silver);
}
.emoji-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.chat-input a {
  font-size: 20px;
  color: var(--blue);
  border-color: 1px solid yellow;
  display: inline-block;
}
.like-and-send {
  width: 45px;
  display: flex;
  justify-content: center;
}
/* --------------------------- END MAIN--------------------- */

/* --------------------------- START INFO--------------------- */
.info-pp {
  width: 80px;
  height: 80px;
  display: block;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 auto;
}
.info-name {
  text-align: center;
  margin-top: 10px;
}
.info-name h2 {
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: -5px;
}
.info-name span {
  font-size: 12px;
  color: var(--darkSilver);
}
.enskription-info {
  height: 20px;
  border-radius: 30px;
  font-size: 12px;
  background-color: var(--silver);
  display: inline-block;
  padding: 0 10px;
  margin: 15px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.enskription-info div {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}
.action {
  display: flex;
  justify-content: center;
  gap: 33px;
}
.action-name {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  color: rgb(75, 74, 74);
}

details {
  margin-bottom: 10px;
  cursor: pointer;
}
.dropdown-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}

.dropdown-summary:hover {
  background-color: var(--lightSilver);
}
.dropdown-summary i {
  transition: transform 0.3s ease;
}

details[open] .dropdown-summary i {
  transform: rotate(180deg);
}

details p {
  margin: 10px 0 0 10px;
  font-size: 14px;
}
/* --------------------------- END INFO--------------------- */
